<div class="row d-flex justify-content-center">
  <p>{{ 1234.56 | currency: "EUR" }}</p>
</div>
<div class="row d-flex justify-content-center">
    <p>{{ 'THIS WAS UPPERCASE' | lowercase }}</p>
  </div>
<div class="row d-flex justify-content-center">
  <p>{{ "Mon Aug 2022 21:34:20 GMT+0200" | date: "fullTime" }}</p>
</div>
<div class="row d-flex justify-content-center">
  <pre>{{ { name: "Jarek", occupation: "developer" } | json }}</pre>
</div>
<div class="row d-flex justify-content-center">
  <p>{{ 0.3333333 | percent }}</p>
</div>

<div class="row d-flex justify-content-center">
  <!-- <p>{{ [1,2,3,4,5,6] | slice:1:3 }}</p> -->
  <p>{{ "perpetual" | slice: 1:3 }}</p>
</div>

<div class="row d-flex justify-content-center">
  <p>{{ 8 | modulo: 3 }}</p>
</div>
