<div class="container">
    <p *ngFor="let el of arrayOfString; let i = index">{{ i + 1 }}: {{ el }}</p>
</div>

<div class="container">
    <div *ngFor="let obj of objectVariable | keyvalue">
        <p>{{ obj.key | uppercase}}: {{ obj.value }}</p>
    </div>
</div>

<div class="container">
    <div *ngFor="let object of arrayOfObjectsVariable">
        <!-- <p>{{ object.name }} {{object.age}}</p> -->
        <p *ngFor="let o of object | keyvalue">{{ o.key}} {{o.value ?? 'not given'}}</p>
    </div>
</div>
