
<div class="row d-flex justify-content-center">
  <input type="text" [(ngModel)]="superhero" [disabled]="false">
</div>
<!-- <div class="row container d-flex justify-content-center mt-2">
</div> -->


  <div class="row ">
    <div class="col-5 d-flex justify-content-center">
      <button type="button" (click)="booleanVariable=true" class="btn btn-primary">SHOW</button>
    </div>
    <div class="col">
    </div>
    <div class="col-5 d-flex justify-content-center">
      <button type="button" (click)="booleanVariable=false" class="btn btn-secondary">HIDE</button>
    </div>
  </div>



<div class="row container d-flex justify-content-center">
  <p [ngStyle]="{
    'font-size': '20px',
    color: 'red',
    'font-weight': 'bold',
    border: '1px solid black'
  }">{{superhero}}</p>
</div>

<div id="list">
  <ul [ngSwitch]="superhero">
      <li *ngSwitchCase="'Hulk'" [ngStyle]="{
        borderBottom
      }"><img src="../../assets/hulk.png" style="height: 150px;"></li>
      <li *ngSwitchCase="'Iron-man'" ><img [ngClass]="{
        underline: true,
        background: booleanVariable
      }" src="../../assets/iron-man.png" style="height: 150px;"></li>
      <li *ngSwitchCase="'Deadpool'" ><img src="../../assets/deadpool.png" style="height: 150px;"></li>
      <li *ngSwitchCase="'Thor'" ><img [sdaChangeColor]="'pink'" src="../../assets/thor.png" style="height: 150px;"></li>
      <li *ngSwitchCase="'Spiderman'" ><img [ngStyle]="{
        border: border
      }" src="../../assets/spiderman.jpg" style="height: 150px;"></li>
      <li *ngSwitchDefault ><img [ngStyle]="booleanVariable ? defaultStyle : customStyle" src="../../assets/america.png" alt="america" style="height: 150px;"> </li>
    </ul>
  </div>
    